parameters:
	# this needs to be bumped up to at least 7
	level: 5
	treatPhpDocTypesAsCertain: false
	checkGenericClassInNonGenericObjectType: false
	paths:
		- .
	excludePaths:
		- vendor/*
		- Tests/*
